.comic-card{
    width: 200px;
    height: auto;
}
  .carta-comic-pr {
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    width: 225px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  
  #imagen-comic-pr {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  #titulo-comic-pr {
    color: #771212;
  }
  
  #descripcion-comic-pr {
    color: #777;
  }
  
  #comprar-btn-pr {
    background-color: #771212;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #comprar-btn-pr:hover {
    background-color: #c42020;
  }