#header{
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
}


#header_espacio_foto{
    width: 100%;
    height: 200px;
    background-color: blue;
    background-color: #771212;
}

#logo_header{
    height: 150px;
    width: auto;
    margin-top: 25px;

}

#header_espacio_nav{
    width: 100%;
    height: 30px;
    background-color: #e61c1c;
    color: rgb(252, 255, 253);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


#header_espacio_nav a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  #header_espacio_nav a:hover {
    background-color: white; 
    color: #e61c1c; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  }
  