#contact-form{
background-color: #fff;
max-width: 600px;
margin: 0 auto;
padding: 30px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-top: 40px;
margin-bottom: 40px;
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif
}

fieldset{
    border: 0;
    gap: 20px;
    display: flex;
    width:500px;
    margin: 0 auto;
    justify-content: space-around;
    font-family: Arial, sans-serif;
}

input, textarea{
    font-size: 16px;
    margin-bottom: 25px;
    padding: 2px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
    width: 65%;
    min-width: 400px;
    height: 30px;
}

textarea {
    height: 200px;
    font-family: Arial, sans-serif;
}

label {
    height: 30px;
    width: 35%;
    align-items: baseline;
    text-align: left;
}


button {
    background-color: #771212;
    color: white;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    margin-left: 10%;}

button :hover {
    background-color: #c42020;
}